@import 'layout';
@import 'reset';
@import 'section';
@import 'top-nav';
@import 'card';

.app__hero--title {
  text-align: center;
  color: white;
}

.body-content {
  padding: 1rem;
}

.card {

  &__content{
    display: flex;
    padding: 0.5rem;
    padding-right: 0;
    border-bottom: 1px solid black;

  &-text {
    flex-grow: 1;
  }

  &--name {

  }

  &--price {
  text-align: right;
}
  &--description {
  }
}
}

.btn {
  background: rgba(96, 170, 156, 1.0);
}


.title {
  border-bottom: 1px solid black;
  margin: 0.5rem;
}
