@import 'layout';
@import 'reset';
@import 'section';
@import 'top-nav';
@import 'card';

.app__hero--title {
  text-align: center;
  color: white;
}




.card {

  &__content{

  &--name {

  }

  &--price {
  text-align: right;
}
  &--description {
  }
}
}

.btn {
  background: rgba(96, 170, 156, 1.0);
}


.title {
  border-bottom: 1px solid black;
}

.body-conent{
  display: flex;
  justify-content: center;
}
