<div class="card card-new--category">
  <h2 class="card__header card-new--category__header">New Category</h2>
  <p>
    <label>Name</label>
  </p>
  <p>
    <input type="text" name="name" value="">
  </p>
<p>
  {{#link-to "admin.category.index" class="btn"}}Back{{/link-to}}
  </p>
</div>
