
<h2 class="title title-margin">{{model.name}}</h2>
<div class="card">
<div class="btn-right">{{#link-to "admin.category.new-item" model.id class="btn"}}Add New Item{{/link-to}}</div>
<h4 class="category">Name</h4>
<ul class="category-items">
      {{#each model.menuItems as |data|}}
      <div class="category-items--list">
      <li>{{ data.name }}</li>
      <p>{{#link-to "admin.category.new"}}detail{{/link-to}}</p>
    </div>
      {{/each}}
</ul>
</div>
